@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Outfit, system-ui, sans-serif;
  }
}
:root {
  /* --background-color: #F5F5F5;
  --background-secondary-color: #FFFFFF;
  --text-color: #353535;
  --text-color-light: #5D5D5D;
  --primary-color: #339989;
  --secondary-color: #0E79BA; */
}
